<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/corda.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="demoAppModule" ng-controller="AgreementController as demoApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="gp-genpact-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="172" height="63" viewBox="0 0 172 63"><title>
                GP_HTL_RGB</title>
                <g fill="none" fill-rule="evenodd">
                    <path fill="#FF555F"
                          d="M45 15.954l-11.35 8.034-11.148-7.906L11.338 24 0 15.959 22.502 0 45 15.954"/>
                    <path fill="#25A5BD"
                          d="M11.589 39.44V23.894L0 16v31.333L23 63V47.212L11.589 39.44M23 48h11V32H23z"/>
                    <path fill="#1E2C4C" d="M23 63l23-15.5V32L23 47.38V63"/>
                    <path fill="#FF555F" d="M34.448 40L23 31.977 34.394 24 46 31.988 34.448 40"/>
                    <path d="M69.1 36.604c2.388 0 4.37-2.042 4.37-4.601 0-2.56-1.982-4.601-4.37-4.601-2.352 0-4.335 2.041-4.335 4.6 0 2.56 1.983 4.602 4.336 4.602zm-3.83 3.661c.705 1.36 2.117 2.3 3.73 2.3 2.353 0 4.235-1.976 4.235-4.406v-.162l-.067-.032c-1.31 1.263-2.992 2.041-4.874 2.041-4.033 0-7.294-3.596-7.294-8.003C61 27.564 64.261 24 68.294 24c1.882 0 3.563.778 4.874 2.074l.067-.033v-1.62H77v13.738C77 42.501 73.672 46 69.168 46c-3.025 0-5.647-1.555-7.058-3.92l3.16-1.815zm24.705-10.37l.033-.065c-.832-1.49-2.295-2.494-3.991-2.494-1.763 0-3.127.94-4.025 2.494l.033.065h7.95zm-.433 5.214l2.595 2.494C90.64 39.093 88.545 40 86.249 40 81.66 40 78 36.437 78 32c0-4.437 3.56-8 8.017-8A7.97 7.97 0 0 1 94 32c0 .713-.067.907-.067.907H81.726c0 1.684 2.029 3.66 4.357 3.66 1.364 0 2.561-.583 3.46-1.458zm10.102-2.893V40H96V24.432h3.644v1.896l.066.034c1.236-1.563 2.896-2.362 4.62-2.362 6.507 0 6.67 6.054 6.67 7.917V40h-3.644v-7.784c0-1.863-.033-4.724-3.807-4.724-2.147 0-3.905 2.096-3.905 4.724m21.272-4.748c-2.415 0-4.36 2.082-4.36 4.658 0 2.61 1.945 4.69 4.36 4.69 2.348 0 4.327-2.08 4.327-4.69 0-2.576-1.979-4.658-4.327-4.658zm.805 12.85c-1.912 0-3.555-.76-4.897-2.114l-.068.033V46H113V24.43h3.756v1.618l.068.033c1.342-1.288 2.985-2.081 4.897-2.081 4.025 0 7.279 3.634 7.279 8.16 0 4.525-3.254 8.159-7.279 8.159zm16.379-3.752c2.388 0 4.337-2.008 4.337-4.566 0-2.559-1.95-4.6-4.336-4.6-2.353 0-4.336 2.041-4.336 4.6 0 2.558 1.983 4.566 4.336 4.566zM137.295 24c1.882 0 3.563.778 4.874 2.073l.067-.033v-1.62H146v15.16h-3.765v-1.555l-.067-.065c-1.31 1.263-2.992 2.041-4.874 2.041-4.033 0-7.294-3.563-7.294-8 0-4.437 3.26-8 7.294-8zM162 37.603A8.202 8.202 0 0 1 156.17 40c-4.546 0-8.17-3.563-8.17-8 0-4.437 3.624-8 8.17-8 2.272 0 4.348.907 5.83 2.397l-2.602 2.396a4.364 4.364 0 0 0-3.228-1.392c-2.504 0-4.48 2.072-4.48 4.599 0 2.526 1.976 4.566 4.48 4.566a4.54 4.54 0 0 0 3.294-1.425L162 37.603m7.386-10.284V39h-3.772V27.319H163v-3.505h2.614V17h3.772v6.814H172v3.505h-2.614"
                          fill="#25A5BD"/>
                </g>
            </svg>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <div class="btngroup">
            <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Initiate Agreement
            </button>
            <button ng-click="demoApp.getAgreements()" title="See all Agreements" type="button"
                    class="btn btn-default navbar-btn">
                See all Agreements
            </button>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.agreements.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded Agreements</h3>
            </div>
            <div class="panel-body">Use the "Initiate Agreement" button to create an Agreement with a Party.</div>
        </div>
        <!--div ng-show="demoApp.ious.length" class="panel panel-primary"-->
        <div ng-show="demoApp.agreements.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Agreements</h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Agreement Name</th>
                    <th>Initiator</th>
                    <th>Receiver</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in demoApp.agreements">

                    <td>{{x.agrementName}}</td>
                    <td>{{x.cptyInitiator}}</td>
                    <td>{{x.counterparty}}</td>
                    <td>{{x.status}}</td>
                    <td>
                        <button type="button" ng-click="demoApp.viewAgreement(x)" class="btn btn-primary">View</button>
                        <button type="button" class="btn btn-primary" ng-click="demoApp.amendAgreement(x)">Amend
                        </button>
                        <button type="button" ng-click="demoApp.viewAudit(x)" class="btn btn-primary">Audit History
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-12" ng-show="demoApp.agreementAudits.length > 0">
            <h4 class="modal-title">Audit Trail for Agreement</h4>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Agreement Name</td>
                    <td>Agreement Initiation Date</td>
                    <td>Initiator</td>
                    <td>Receiver</td>
                    <td>Status</td>
                    <td>Last Updated By</td>
                    <td>Last Updated On</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in demoApp.agreementAudits">
                    <td>{{x.agrementName}}</td>
                    <td>{{getDateValue(x.agrementInitiationDate)}}</td>
                    <td>{{x.cptyInitiator}}</td>
                    <td>{{x.counterparty}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.lastUpdatedBy}}</td>
                    <td>{{getDateValue(x.agrementLastAmendDate)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<script type="text/ng-template" id="initiateAgreementModal.html">
    <div class="modal-header">
        <h4 class="modal-title">New Agreement</h4>
    </div>
    <form class="gp-firm-side-ui">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">

                        <h4 class="modal-title gp-inner-title">Agreement</h4>

                        <div class="form-group">
                            <label for="value" class="control-label lbl-p">Counterparty:</label>
                            <select ng-model="agreement.counterparty" class="form-control" id="counterparty"
                                    ng-options="peer as peer for peer in modalInstance.peers">
                            </select>
                            <label for="value" class="control-label lbl-p">Agreement Name:</label>
                            <input type="text" ng-model="agreement.agrementName" class="form-control" id="address">
                            <label for="value" class="control-label lbl-p">Base Currency:</label>
                            <input type="text" disabled ng-model="agreement.baseCurrency" class="form-control"
                                   id="address">
                            <label for="value" class="control-label lbl-p">Eligible Currency:</label>
                            <select ng-model="agreement.eligibleCurrency" class="form-control">
                                <option>USD</option>
                                <option>GBP</option>
                                <option>INR</option>
                                <option>NOK</option>
                                <option>AUD</option>
                                <option>EUR</option>
                            </select>
                            <label for="value" class="control-label lbl-p">Delivery Amount:</label>
                            <select ng-model="agreement.deliveryAmount" class="form-control"
                                    ng-options="item.id as item.name for item in modalInstance.deliveryAmount track by item.id">
                            </select>

                            <label for="value" class="control-label lbl-p">Return Amount:</label>
                            <select ng-model="agreement.returnAmount" class="form-control"
                                    ng-options="item.id as item.name for item in modalInstance.deliveryAmount track by item.id">
                            </select>

                            <label for="value" class="control-label lbl-p">Credit Support Amount:</label>
                            <select ng-model="agreement.creditSupportAmount" class="form-control"
                                    ng-options="item.id as item.name for item in modalInstance.deliveryAmount track by item.id">
                            </select>

                            <label for="value" class="control-label lbl-p">Eligible Collateral Criteria:</label>
                            <select ng-change="changedValue()" class="form-control"
                                    ng-options="item as item.name for item in modalInstance.collateral track by item.id"
                                    ng-model="agreement.eligibleCollateral">
                            </select>
                            <div class="col-lg-12" ng-show="agreement.eligibleCollaterals.length > 0">
                                <div class="gp-table-div">
                                    <table class="table table-bordered table-striped gp-table">
                                        <thead>
                                        <tr>
                                            <td>Collateral Type</td>
                                            <td>Collateral Currency</td>
                                            <td>Rating</td>
                                            <td>Range From</td>
                                            <td>Range To</td>
                                            <td>Valuation %</td>
                                            <td>Remaining Maturity</td>
                                            <td>Range From</td>
                                            <td>Range To</td>
                                            <td>Party A</td>
                                            <td>Party B</td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="a in agreement.eligibleCollaterals">
                                            <td>{{a.collateralType == 1 ? "Cash":"Securities"}}</td>
                                            <td>{{a.currency}}</td>
                                            <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType == 2 ? "S&P
                                                "+a.ratingText:(a.ratingType == 3 ? "Fitch "+a.ratingText:""))}}
                                            </td>
                                            <td> {{a.ratingRangeFrom}}</td>
                                            <td>{{a.ratingRangeTo}}</td>
                                            <td> {{a.amount}}</td>
                                            <td> {{a.remainingMaturity == 1?"Yes":"No"}}</td>
                                            <td>{{a.remMaturityFrom}}</td>
                                            <td> {{a.remMaturityTo}}</td>
                                            <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                            <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="control-label thr">
                                <button ng-click="addThresholds()" type="button" class="btn btn-primary">Add
                                    Thresholds
                                </button>
                            </div>
                            <div class="col-lg-12" ng-show="agreement.thresholds.length > 0">
                                <div class="gp-table-div">
                                    <table class="table table-bordered table-striped gp-table">
                                        <thead>
                                        <tr>
                                            <td>Rating</td>
                                            <td>Range From</td>
                                            <td>Range To</td>
                                            <td>Threshold Amount</td>
                                            <td>Party A</td>
                                            <td>Party B</td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="a in agreement.thresholds">
                                            <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType == 2 ? "S&P
                                                "+a.ratingText:(a.ratingType == 3 ? "Fitch "+a.ratingText:""))}}
                                            </td>
                                            <td> {{a.ratingRangeFrom}}</td>
                                            <td>{{a.ratingRangeTo}}</td>
                                            <td>{{a.amount}}</td>
                                            <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                            <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <label for="value" class="control-label lbl-p">Initial Margin:</label>
                            <select ng-model="agreement.initialMargin" class="form-control"
                                    ng-options="item.id as item.name for item in modalInstance.yesNo track by item.id">
                            </select>

                            <label for="value" class="control-label lbl-p">Valuation Agent:</label>
                            <select ng-model="agreement.valuationAgent" class="form-control" id="counterparty"
                                    ng-options="peer as peer for peer in modalInstance.peers">
                            </select>

                            <label for="value" class="control-label lbl-p">Valuation Date:</label>
                            <select ng-model="agreement.valuationDate" class="form-control">
                                <option>LON - Business Hours</option>
                                <option>NYC - Business Hours</option>
                            </select>

                            <label for="value" class="control-label lbl-p">Valuation Time:</label>
                            <select ng-model="agreement.valuationTime" class="form-control">
                                <option>Close of Business</option>
                            </select>

                            <label for="value" class="control-label lbl-p">Notification Time:</label>
                            <input type="time" ng-model="agreement.notificationTime" class="form-control" id="address">

                            <label for="value" class="control-label lbl-p">Specified Condition:</label>
                            <div class="checkbox">
                                <label>
                                    <input ng-click="addConditions(1)" type="checkbox"> Illegality
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-click="addConditions(2)" type="checkbox"> Credit Event Upon Merger
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-click="addConditions(3)" type="checkbox"> Additional Termination Events
                                </label>
                            </div>


                            <div class="range">
                                <label for="value">Substitution Date:</label>
                                <input type="date" placeholder="From" ng-model="agreement.substitutionDateFrom"
                                       id="address">
                                <input type="date" placeholder="To" ng-model="agreement.substitutionDateTo"
                                       id="address">
                            </div>


                            <label for="value" class="control-label lbl-p">Consent:</label>
                            <select ng-model="agreement.consent" class="form-control"
                                    ng-options="item.id as item.name for item in modalInstance.yesNo track by item.id">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Contract parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Submit</button>
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
        </div>
    </form>

</script>



<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message? modalInstanceTwo.message:"Success" }}
    </div>
</script>











<script type="text/ng-template" id="viewAgreementModal.html">
    <div>
        <div class="modal-header">
            <h4 class="modal-title">View Agreement</h4>
        </div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="gp-table-div">
                            <table class="table table-bordered table-striped gp-table">
                                <tbody>
                                <tr>
                                    <td class="col-lg-4">Agrement Name</td>
                                    <td class="col-lg-8">{{agreement.agrementName}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Counterparty Name</td>
                                    <td class="col-lg-8">{{agreement.counterparty}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Base Currency</td>
                                    <td class="col-lg-8">{{agreement.baseCurrency}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Eligible Currency</td>
                                    <td class="col-lg-8">{{agreement.eligibleCurrency}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Delivery Amount</td>
                                    <td class="col-lg-8">{{getAmtValue(agreement.deliveryAmount)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Return Amount</td>
                                    <td class="col-lg-8">{{getAmtValue(agreement.returnAmount)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Credit Support Amount</td>
                                    <td class="col-lg-8">{{getAmtValue(agreement.creditSupportAmount)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Eligible Collateral</td>
                                    <td class="col-lg-8">
                                        <div class="col-lg-12" ng-show="agreement.eligibleCollaterals.length > 0">
                                            <div class="gp-table-div">
                                                <table class="table table-bordered table-striped gp-table">
                                                    <thead>
                                                    <tr>
                                                        <td>Collateral Type</td>
                                                        <td>Collateral Currency</td>
                                                        <td>Rating</td>
                                                        <td>Range From</td>
                                                        <td>Range To</td>
                                                        <td>Valuation %</td>
                                                        <td>Remaining Maturity</td>
                                                        <td>Range From</td>
                                                        <td>Range To</td>
                                                        <td>Party A</td>
                                                        <td>Party B</td>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr ng-repeat="a in agreement.eligibleCollaterals">
                                                        <td>{{a.collateralType == 1 ? "Cash":"Securities"}}</td>
                                                        <td>{{a.currency}}</td>
                                                        <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType
                                                            == 2 ? "S&P "+a.ratingText:(a.ratingType == 3 ? "Fitch
                                                            "+a.ratingText:""))}}
                                                        </td>
                                                        <td> {{a.ratingRangeFrom}}</td>
                                                        <td>{{a.ratingRangeTo}}</td>
                                                        <td> {{a.amount}}</td>
                                                        <td> {{a.remainingMaturity == 1?"Yes":"No"}}</td>
                                                        <td>{{a.remMaturityFrom}}</td>
                                                        <td> {{a.remMaturityTo}}</td>
                                                        <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                                        <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Thresholds</td>
                                    <td class="col-lg-8">
                                        <div class="col-lg-12" ng-show="agreement.thresholds.length > 0">
                                            <div class="gp-table-div">
                                                <table class="table table-bordered table-striped gp-table">
                                                    <thead>
                                                    <tr>
                                                        <td>Rating</td>
                                                        <td>Range From</td>
                                                        <td>Range To</td>
                                                        <td>Threshold Amount</td>
                                                        <td>Party A</td>
                                                        <td>Party B</td>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr ng-repeat="a in agreement.thresholds">
                                                        <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType
                                                            == 2 ? "S&P "+a.ratingText:(a.ratingType == 3 ? "Fitch
                                                            "+a.ratingText:""))}}
                                                        </td>
                                                        <td> {{a.ratingRangeFrom}}</td>
                                                        <td>{{a.ratingRangeTo}}</td>
                                                        <td>{{a.amount}}</td>
                                                        <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                                        <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Initial Margin</td>
                                    <td class="col-lg-8">{{agreement.initialMargin === 1?"Yes":"No"}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Valuation Agent</td>
                                    <td class="col-lg-8">{{agreement.valuationAgent}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Valuation Date</td>
                                    <td class="col-lg-8">{{agreement.valuationDate}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Valuation Time</td>
                                    <td class="col-lg-8">{{agreement.valuationTime}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Notification Time</td>
                                    <td class="col-lg-8">{{getDateValue(agreement.notificationTime)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Specified Conditions</td>
                                    <td class="col-lg-8">
                                        <div class="gp-table-div">
                                            <table class="table table-bordered table-striped gp-table">
                                                <tbody>
                                                <tr ng-repeat="a in agreement.specifiedConditions">
                                                    <td>{{a}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Substitution Date</td>
                                    <td class="col-lg-8">
                                        <div class="gp-table-div">
                                            <table class="table table-bordered table-striped gp-table">
                                                <thead>
                                                <tr>
                                                    <td>From</td>
                                                    <td>To</td>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    <td>{{getDateValue(agreement.substitutionDateFrom)}}</td>
                                                    <td>{{getDateValue(agreement.substitutionDateTo)}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-4">Consent</td>
                                    <td class="col-lg-8">{{agreement.consent == 1? "Yes":"No"}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-lg-12">
                    <div class="gp-table-div">
                        <table class="table table-bordered table-striped gp-table">
                            <thead>
                                <tr>
                                    <td>Agreement Name</td>
                                    <td>Base Currency</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{agreement.agrementName}}</td>
                                    <td>{{agreement.baseCurrency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div-->
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="agree(agreement)" class="btn btn-primary">Agree</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="amendAgreementModal.html">

    <div class="modal-header">
        <h4 class="modal-title">Amend Agreement</h4>
    </div>
    <form class="gp-firm-side-ui">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="value" class="control-label lbl-p">Counterparty:</label>
                        <select disabled ng-model="agreement.counterparty" class="form-control" id="counterparty"
                                ng-options="peer as peer for peer in peers">
                        </select>
                        <label for="value" class="control-label lbl-p">Agreement Name:</label>
                        <input disabled type="text" ng-model="agreement.agrementName" class="form-control" id="address">
                        <label for="value" class="control-label lbl-p">Base Currency:</label>
                        <input type="text" disabled ng-model="agreement.baseCurrency" class="form-control" id="address">
                        <label for="value" class="control-label lbl-p">Eligible Currency:</label>
                        <select ng-model="agreement.eligibleCurrency" class="form-control">
                            <option>USD</option>
                            <option>GBP</option>
                            <option>INR</option>
                            <option>NOK</option>
                            <option>AUD</option>
                            <option>EUR</option>
                        </select>
                        <label for="value" class="control-label lbl-p">Delivery Amount:</label>
                        <select ng-model="agreement.deliveryAmount" class="form-control"
                                ng-options="item.id as item.name for item in deliveryAmount">
                        </select>

                        <label for="value" class="control-label lbl-p">Return Amount:</label>
                        <select ng-model="agreement.returnAmount" class="form-control"
                                ng-options="item.id as item.name for item in deliveryAmount">
                        </select>

                        <label for="value" class="control-label lbl-p">Credit Support Amount:</label>
                        <select ng-model="agreement.creditSupportAmount" class="form-control"
                                ng-options="item.id as item.name for item in deliveryAmount">
                        </select>

                        <label for="value" class="control-label lbl-p">Eligible Collateral:</label>
                        <div class="gp-table-div">
                            <table class="table table-bordered table-striped gp-table">
                                <thead>
                                <tr>
                                    <td>Collateral Type</td>
                                    <td>Collateral Currency</td>
                                    <td>Rating</td>
                                    <td>Range From</td>
                                    <td>Range To</td>
                                    <td>Valuation %</td>
                                    <td>Remaining Maturity</td>
                                    <td>Range From</td>
                                    <td>Range To</td>
                                    <td>Party A</td>
                                    <td>Party B</td>
                                    <td></td>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="a in agreement.eligibleCollaterals">
                                    <td>{{a.collateralType == 1 ? "Cash":"Securities"}}</td>
                                    <td>{{a.currency}}</td>
                                    <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType == 2 ? "S&P
                                        "+a.ratingText:(a.ratingType == 3 ? "Fitch "+a.ratingText:""))}}
                                    </td>
                                    <td> {{a.ratingRangeFrom}}</td>
                                    <td>{{a.ratingRangeTo}}</td>
                                    <td> {{a.amount}}</td>
                                    <td> {{a.remainingMaturity == 1?"Yes":"No"}}</td>
                                    <td>{{a.remMaturityFrom}}</td>
                                    <td> {{a.remMaturityTo}}</td>
                                    <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                    <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                    <td>
                                        <button ng-click="editCollateral(a)" type="button" class="btn btn-primary">
                                            Edit
                                        </button>
                                        <button ng-click="deleteCollateral(a)" type="button" class="btn btn-primary">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--select ng-change="changedValue()" ng-model="agreement.eligibleCollateral" class="form-control" ng-options="item as item.name for item in modalInstance.collateral track by item.id">
                        </select-->

                        <label for="value" class="control-label lbl-p">Thresholds:</label>
                        <div class="control-label thr">
                            <div class="col-lg-12" ng-show="agreement.thresholds.length > 0">
                                <div class="gp-table-div">
                                    <table class="table table-bordered table-striped gp-table">
                                        <thead>
                                        <tr>
                                            <td>Rating</td>
                                            <td>Range From</td>
                                            <td>Range To</td>
                                            <td>Threshold Amount</td>
                                            <td>Party A</td>
                                            <td>Party B</td>
                                            <td></td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="a in agreement.thresholds">
                                            <td>{{a.ratingType == 1 ? "Moody's "+a.ratingText:(a.ratingType == 2 ? "S&P
                                                "+a.ratingText:(a.ratingType == 3 ? "Fitch "+a.ratingText:""))}}
                                            </td>
                                            <td>{{a.ratingRangeFrom}}</td>
                                            <td>{{a.ratingRangeTo}}</td>
                                            <td>{{a.amount}}</td>
                                            <td>{{a.partyA == 1?"Yes":"No"}}</td>
                                            <td>{{a.partyB == 1?"Yes":"No"}}</td>
                                            <td>
                                                <button ng-click="editThresholds(a)" type="button"
                                                        class="btn btn-primary">Edit
                                                </button>
                                                <button ng-click="deleteThresholds(a)" type="button"
                                                        class="btn btn-primary">Delete
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <label for="value" class="control-label lbl-p">Initial Margin:</label>
                        <select ng-model="agreement.initialMargin" class="form-control"
                                ng-options="item.id as item.name for item in yesNo">
                        </select>

                        <label for="value" class="control-label lbl-p">Valuation Agent:</label>
                        <select ng-model="agreement.valuationAgent" class="form-control" id="counterparty"
                                ng-options="peer as peer for peer in peers">
                        </select>

                        <label for="value" class="control-label lbl-p">Valuation Date:</label>
                        <select ng-model="agreement.valuationDate" class="form-control">
                            <option>LON - Business Hours</option>
                            <option>NYC - Business Hours</option>
                        </select>

                        <label for="value" class="control-label lbl-p">Valuation Time:</label>
                        <select ng-model="agreement.valuationTime" class="form-control">
                            <option>Close of Business</option>
                        </select>

                        <label for="value" class="control-label lbl-p">Notification Time:</label>
                        <input type="time" ng-model="agreement.notificationTime" class="form-control" id="address">

                        <label for="value" class="control-label lbl-p">Specified Condition:</label>


                        <div class="checkbox">
                            <label>
                                <input ng-click="addConditions(1)" ng-checked="getCond(1)" type="checkbox"> Illegality
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-click="addConditions(2)" ng-checked="getCond(2)" type="checkbox"> Credit Event
                                Upon Merger
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-click="addConditions(3)" ng-checked="getCond(3)" type="checkbox"> Additional
                                Termination Events
                            </label>
                        </div>


                        <div class="range">
                            <label for="value">Substitution Date:</label>
                            <input type="date" placeholder="From" ng-model="agreement.substitutionDateFrom"
                                   id="address">
                            <input type="date" placeholder="To" ng-model="agreement.substitutionDateTo" id="address">
                        </div>


                        <label for="value" class="control-label lbl-p">Consent:</label>
                        <select ng-model="agreement.consent" class="form-control"
                                ng-options="item.id as item.name for item in yesNo">
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group gp-button-group">
                <button type="button" ng-click="amendAgreement(agreement)" class="btn btn-primary">Amend</button>
                <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </form>
    </div>
</script>


<script type="text/ng-template" id="eligibleColCash.html">
    <div class="modal-header">
        <h4 class="modal-title">Eligible Collateral</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="value" class="control-label lbl-p">Currency:</label>
                            <select ng-model="el.currency" class="form-control">
                                <option>USD</option>
                                <option>GBP</option>
                                <option>INR</option>
                                <option>NOK</option>
                                <option>AUD</option>
                                <option>EUR</option>
                            </select>
                            <label for="value" class="control-label lbl-p">Valuation %:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>

                            <div ng-if="cash.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Currency</td>
                                        <td>Valuation %</td>
                                        <td>Party A</td>
                                        <td>Party B</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in cash">
                                        <td>{{x.currency}}</td>
                                        <td>{{x.valuation}}</td>
                                        <td>{{x.partyA ? "Yes":"No"}}</td>
                                        <td>{{x.partyB ? "Yes":"No"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="submit(el)" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="add(el)" class="btn btn-secondary">Add</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="eligibleColCashUpd.html">
    <div class="modal-header">
        <h4 class="modal-title">Eligible Collateral</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="value" class="control-label lbl-p">Currency:</label>
                            <select ng-model="el.currency" class="form-control">
                                <option>USD</option>
                                <option>GBP</option>
                                <option>INR</option>
                                <option>NOK</option>
                                <option>AUD</option>
                                <option>EUR</option>
                            </select>
                            <label for="value" class="control-label lbl-p">Valuation %:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>

                            <div ng-if="cash.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Currency</td>
                                        <td>Valuation %</td>
                                        <td>Party A</td>
                                        <td>Party B</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in cash">
                                        <td>{{x.currency}}</td>
                                        <td>{{x.valuation}}</td>
                                        <td>{{x.partyA ? "Yes":"No"}}</td>
                                        <td>{{x.partyB ? "Yes":"No"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="update(el)" class="btn btn-secondary">Update</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="eligibleColSec.html">
    <div class="modal-header">
        <h4 class="modal-title">Eligible Collateral</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="value" class="control-label lbl-p">Moody's Rating:</label>
                            <select ng-model="el.moody" class="form-control"
                                    ng-options="item as item.name for item in moodys"
                                    ng-disabled="el.sp.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">S&P Rating:</label>
                            <select ng-model="el.sp" class="form-control" ng-options="item as item.name for item in sps"
                                    ng-disabled="el.moody.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">Fitch Rating:</label>
                            <select ng-model="el.fitch" class="form-control"
                                    ng-options="item as item.name for item in fitchs"
                                    ng-disabled="el.sp.id != null || el.moody.id != null">
                            </select>
                            <div class="range">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.rfrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.rto" id="address">
                            </div>
                            <label for="value" class="control-label lbl-p">Valuation %:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">
                            <label for="value" class="control-label lbl-p">Remaining Maturity:</label>
                            <select ng-model="el.remMaturity" class="form-control"
                                    ng-options="item.id as item.name for item in yesNo">
                            </select>
                            <div class="range" ng-if="el.remMaturity === 1">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.remMaturityFrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.remMaturityTo" id="address">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>

                            <div ng-if="sec.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Rating</td>
                                        <td>Range From</td>
                                        <td>Range To</td>
                                        <td>Valuation</td>
                                        <td>Remaining Maturity</td>
                                        <td>Range From</td>
                                        <td>Range To</td>
                                        <td>Party A</td>
                                        <td>Party B</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in sec">
                                        <td>{{x.moody.name != null ? x.moody.name : (x.sp.name
                                            !=null?x.sp.name:x.fitch.name)}}
                                        </td>
                                        <td>{{x.rfrom}}</td>
                                        <td>{{x.rto}}</td>
                                        <td>{{x.valuation}}</td>
                                        <td>{{x.remMaturity}}</td>
                                        <td>{{x.remMaturityFrom}}</td>
                                        <td>{{x.remMaturityTo}}</td>
                                        <td>{{x.partyA ? "Yes":"No"}}</td>
                                        <td>{{x.partyB ? "Yes":"No"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="submit(el)" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="add(el)" class="btn btn-secondary">Add</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="eligibleColSecUpd.html">
    <div class="modal-header">
        <h4 class="modal-title">Eligible Collateral</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="value" class="control-label lbl-p">Moody's Rating:</label>
                            <select ng-model="el.moody" class="form-control"
                                    ng-options="item as item.name for item in moodys"
                                    ng-disabled="el.sp.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">S&P Rating:</label>
                            <select ng-model="el.sp" class="form-control" ng-options="item as item.name for item in sps"
                                    ng-disabled="el.moody.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">Fitch Rating:</label>
                            <select ng-model="el.fitch" class="form-control"
                                    ng-options="item as item.name for item in fitchs"
                                    ng-disabled="el.sp.id != null || el.moody.id != null">
                            </select>
                            <div class="range">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.rfrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.rto" id="address">
                            </div>
                            <label for="value" class="control-label lbl-p">Valuation %:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">
                            <label for="value" class="control-label lbl-p">Remaining Maturity:</label>
                            <select ng-model="el.remMaturity" class="form-control"
                                    ng-options="item.id as item.name for item in yesNo">
                            </select>
                            <div class="range" ng-if="el.remMaturity === 1">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.remMaturityFrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.remMaturityTo" id="address">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>

                            <div ng-if="sec.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Rating</td>
                                        <td>Range From</td>
                                        <td>Range To</td>
                                        <td>Valuation</td>
                                        <td>Remaining Maturity</td>
                                        <td>Range From</td>
                                        <td>Range To</td>
                                        <td>Party A</td>
                                        <td>Party B</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in sec">
                                        <td>{{x.moody.name != null ? x.moody.name : (x.sp.name
                                            !=null?x.sp.name:x.fitch.name)}}
                                        </td>
                                        <td>{{x.rfrom}}</td>
                                        <td>{{x.rto}}</td>
                                        <td>{{x.valuation}}</td>
                                        <td>{{x.remMaturity}}</td>
                                        <td>{{x.remMaturityFrom}}</td>
                                        <td>{{x.remMaturityTo}}</td>
                                        <td>{{x.partyA ? "Yes":"No"}}</td>
                                        <td>{{x.partyB ? "Yes":"No"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="update(el)" class="btn btn-secondary">Update</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="addThresholds.html">
    <div class="modal-header">
        <h4 class="modal-title">Add Thresholds</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="value" class="control-label lbl-p">Moody's Rating:</label>
                            <select ng-model="el.moody" class="form-control"
                                    ng-options="item as item.name for item in moodys"
                                    ng-disabled="el.sp.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">S&P Rating:</label>
                            <select ng-model="el.sp" class="form-control" ng-options="item as item.name for item in sps"
                                    ng-disabled="el.moody.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">Fitch Rating:</label>
                            <select ng-model="el.fitch" class="form-control"
                                    ng-options="item as item.name for item in fitchs"
                                    ng-disabled="el.sp.id != null || el.moody.id != null">
                            </select>
                            <div class="range">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.rfrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.rto" id="address">
                            </div>
                            <label for="value" class="control-label lbl-p">Threshold Amount:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">

                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>

                            <div ng-if="sec.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Rating</td>
                                        <td>Range From</td>
                                        <td>Range To</td>
                                        <td>Threshold Amount</td>
                                        <td>Party A</td>
                                        <td>Party B</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in sec">
                                        <td>{{x.moody.name != null ? x.moody.name : (x.sp.name
                                            !=null?x.sp.name:x.fitch.name)}}
                                        </td>
                                        <td>{{x.rfrom}}</td>
                                        <td>{{x.rto}}</td>
                                        <td>{{x.valuation}}</td>
                                        <td>{{x.partyA ? "Yes":"No"}}</td>
                                        <td>{{x.partyB ? "Yes":"No"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="submit(el)" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="add(el)" class="btn btn-secondary">Add</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="addThresholdsUpd.html">
    <div class="modal-header">
        <h4 class="modal-title">Add Thresholds</h4>
    </div>
    <div>
        <form class="gp-firm-side-ui">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="value" class="control-label lbl-p">Moody's Rating:</label>
                            <select ng-model="el.moody" class="form-control"
                                    ng-options="item as item.name for item in moodys"
                                    ng-disabled="el.sp.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">S&P Rating:</label>
                            <select ng-model="el.sp" class="form-control" ng-options="item as item.name for item in sps"
                                    ng-disabled="el.moody.id != null || el.fitch.id != null">
                            </select>
                            <label for="value" class="control-label lbl-p">Fitch Rating:</label>
                            <select ng-model="el.fitch" class="form-control"
                                    ng-options="item as item.name for item in fitchs"
                                    ng-disabled="el.sp.id != null || el.moody.id != null">
                            </select>
                            <div class="range">
                                <label for="value">Range:</label>
                                <input type="number" placeholder="From" ng-model="el.rfrom" id="address">
                                <input type="number" placeholder="To" ng-model="el.rto" id="address">
                            </div>
                            <label for="value" class="control-label lbl-p">Threshold Amount:</label>
                            <input type="number" ng-model="el.valuation" class="form-control" id="address">

                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyA === 1" ng-model="el.partyA" type="checkbox"> Party A
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-checked="el.partyB === 1" ng-model="el.partyB" type="checkbox"> Party B
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group gp-button-group">
                    <button type="button" ng-click="update(el)" class="btn btn-secondary">Update</button>
                    <button type="button" ng-click="cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>


</body>
</html>